<%= form_for [@user, @role_specific_link] do |form| %>
  <% if role_specific_link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(role_specific_link.errors.count, "error") %> prohibited this role_specific_link from being saved:</h2>

      <ul>
      <% role_specific_link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :link %>
    <%= form.text_field :link, id: :role_specific_link_link %>
  </div>

  <div class="field">
    <%= form.label :role_id %>
    <%= form.number_field :role_id, id: :role_specific_link_role_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<% end %>