<p id="notice"><%= notice %></p>

<p>
  <strong>Link:</strong>
  <%= @role_specific_link.link %>
</p>

<p>
  <strong>role_id:</strong>
  <%= @role_specific_link.role_id %>
</p>

<%= link_to 'Edit', edit_role_specific_link_path(@role_specific_link) %> |
<%= link_to 'Back', role_specific_links_path %>
