<p id="notice"><%= notice %></p>

<h1>Mylinks</h1>

<table>
  <thead>
    <tr>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mylinks.each do |mylink| %>
      <tr>
        <td><%= mylink.link %></td>
        <td><%= link_to 'Show', mylink %></td>
        <td><%= link_to 'Edit', edit_mylink_path(mylink) %></td>
        <td><%= link_to 'Destroy', mylink, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mylink', new_mylink_path %>
