<p id="notice"><%= notice %></p>

<h1>Global Links</h1>

<table>
  <thead>
    <tr>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @global_links.each do |global_link| %>
      <tr>
        <td><%= global_link.link %></td>
        <td><%= link_to 'Show', global_link %></td>
        <td><%= link_to 'Edit', edit_global_link_path(global_link) %></td>
        <td><%= link_to 'Destroy', global_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Global Link', new_global_link_path %>
